{% extends 'portal/index.html' %}

{% block centerContent %}
    <h2 class="centerhead">Contact Details</h2>
     <div class="panel-group" id="UniqueName">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#UniqueName" href="#collapse"><p>College Address</p></a>
                    </h4>
                </div>
                <div id="collapse" class="panel-collapse collapse " style="height: auto;">
                    <div class="panel-body">
                        <h4>Indian Institute of Information Technology</h4>
                        <p>C/O: IFMR <br> 5655 Central Expressway<br>Sri City &nbsp; - &nbsp; 517541</p>
                    </div>
                </div>

            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#UniqueName" href="#collapse_admin"><p>Admin Office</p></a>
                    </h4>
                </div>
                <div id="collapse_admin" class="panel-collapse collapse " style="height: auto;">
                    <div class="panel-body">
                        <p>Ramachandra Reddy</p>
                        <p>Somayajulu</p>
                        <p>Siri Babu</p>
                    </div>
                </div>

            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#UniqueName" href="#collapse_fac"><p>Faculty</p></a>
                    </h4>
                </div>
                <div id="collapse_fac" class="panel-collapse collapse " style="height: auto;">
                    <div class="panel-body">
                        <p>Uma Garimella</p>
                        <p>P.Viswanath</p>
                        <p>Nagesh Kolagani</p>
                    </div>
                </div>

            </div>
    </div>

{% endblock %}