{% extends 'portal/index.html' %}

{% block centerContent %}
    <div class = "btn-events">
       <button type="button" class="btn btn-success" data-toggle="modal" data-target="#eventModal" ><span class = "glyphicon glyphicon-plus"></span>&nbsp;Add Event</button>

    </div>
    <div class="container">
        <div class="modal" id="eventModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type = "button" class = "close" data-dismiss = "modal">&times;</button>
                        <h3>Add Event</h3>
                        <p style="color: darkred;">If You are using FIREFOX or IE input date in this format "dd-mm-yyyy"</p>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'addevent' %}" method="post" id="addEvent">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="title">Title :</label>
                                <input type="text" class="form-control" name="title">
                            </div>
                            <div class="form-group">
                                <label for="date">Date :</label>
                                <input type="date" class="form-control" name="date">
                            </div>
                            <div class="form-group">
                                <label for="duration">Duration :</label>
                                <input type="number" class="form-control" name="duration">
                            </div>
                             <div class="form-group">
                                <label for="description">Description :</label>
                                <textarea class="form-control" rows="3" name="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="contact">contact :</label>
                                <input type="text" class="form-control" name="contact">

                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" form="addEvent">Add Event</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% for event in all_events %}

        <div class="col-md-10 col-md-offset-1 event-row">
            <div class ="col-md-3 event-date">
                <p>{{ event.event_month }}</p>
                <h1>{{ event.event_date.day }}</h1>
                <p>{{ event.event_date.year }}</p>
            </div>
            <div class ="col-md-5 col-md-offset-1">
                <h2>{{ event.event_title }}</h2>
                <p>{{ event.event_description }}</p>
                <p>Duration of the Event : <strong>{{ event.event_duration }}</strong> days</p>
                <p>Contact details : {{ event.event_contact }}</p>
            </div>
            <div class="col-md-3">
                 <p style="margin-top: 10px">Added by : {{ event.event_user }}</p>
            </div>

        </div>
    {% endfor %}


{% endblock %}