{% extends 'portal/index.html' %}

{% block centerContent %}
    <h2 class="centerhead">Forgot Password</h2>

     <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-2 well">
                <form role="form" action="{% url 'forgotPassword' %}" method="post" name="loginform">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Forgot Password</legend>
                        {% if error_message %}
                            <p style="color: darkred;"><span class="glyphicon glyphicon-remove"></span>&nbsp; &nbsp;{{ error_message }}</p>
                        {% endif %}
                        <p>You will receive a mail with a temporary password</p>
                        <div class="form-group">
                            <label for="email">Enter your email :</label>
                            <input type="text" name="email" placeholder="Your Email" required class="form-control" />
                        </div>

                        <div class="form-group">
                            <input type="submit" name="login" value="Login" class="btn btn-block btn-primary" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% endblock %}