<!-- var: courses_registered -->

{% extends 'portal/index.html' %}
	
{% block centerContent%}

	<br><h1>&nbsp&nbspCourses you registered: </h1><br>

	{% if courses_registered %}


        <div class = "col-md-10">
            
            <table class="table table-bordered">
            
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Course Type</th>
                    </tr>
                </thead>
            
                <tbody>
                    {% for course in courses_registered %}
                        <tr class="centertr">
                            <td><strong>{{ course.course_title }}</strong></td>

                            {% if branch == "CSE" %}
                                <td><strong>{{ course.course_cse }}</strong></td>

                            {% elif branch == "ECE" %}
                                <td><strong>{{ course.course_ece }}</strong></td>

                            {% endif %}

                        </tr>
                    {% endfor %}
                </tbody>

             </table>
         
         </div>
    

	{% else %}
		<h3>&nbsp&nbsp&nbsp&nbspNo courses taken yet !!</h3>
	{% endif %}


{% endblock %}