{% extends 'portal/index.html' %}

{% block centerContent %}
    <form style="margin-top: 25px">
        {% csrf_token %}
        <h2 class="centerhead">Form Request</h2>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-1 well" style="margin-top: 25px">
                    <form role="form" action="{% url 'requestForm' %}" method="post" name="requestForm">
                        <fieldset>
                            <legend>Form Required</legend>

                           <div class="form-group fieldlength" >
                                <label for="name">Name :</label>
                                {{ form.name }}
                            </div>
                            <div class="form-group fieldlength">
                                <label for="fathersName">Father's Name :</label>
                                {{ form.fathersName }}
                            </div>
                            <div class="form-group fieldlength">
                                <label for="form_required">Form required :</label>
                                {{ form.formRequired }}
                            </div>
                            <div class="form-group fieldlength">
                                <label for="reason">Reason :</label>
                                {{ form.reason }}
                            </div>
                            <div class="btn-form">
                                <br/>
                                <button class="btn btn-primary " style="margin-right: 10px">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </form>
{% endblock %}