<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IIITS-Admin</title>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'portal/style.css' %}"/>



</head>
<body>
    <nav class = "navbar navbar-inverse">
        <div class = "container-fluid">
            <div class = "navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target = "#topNavBar">
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                </button>
                <a href="{% url 'index' %}" class = navbar-brand> IIITS-Admin</a>
            </div>
            <div class = "navbar-collapse collapse" id="topNavBar">
                <ul class = "nav navbar-nav navbar-right">
                    <li><a href="{% url 'index' %}" class ="active">Home</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'almanac' %}">Almanac</a></li>
                    <li><a href="{% url 'timetable' %}">Timetable</a></li>
                    <li><a href="{% url 'contact' %}">contact</a></li>
                    {% if user.is_authenticated %}
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{{ user.get_full_name }}&nbsp;<span class="caret" aria-hidden="true"></span></a>
                            <ul class="dropdown-menu">
                                <li class="nav-drop"><a href="{% url 'changepassword' %}">change Password</a></li>
			                    <li role="separator" class="divider"></li>
			                    <li class="nav-drop"><a href="{% url 'userLogout' %}">logout</a></li>
			                 </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'userLogin' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;LogIn</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class = "row">
            <div class = "col-md-2" >
                <div class="colHeight">
                    <h4 class="centerText">Quick Links</h4>
                    <ul>
                        <li><a href="{% url 'add-course' %}"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; Add courses</a></li>
                        <li><a href="{% url 'addNotice' %}"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Add Notice</a></li>
                        <li><a href="{% url 'formupdate' %}"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Form status</a></li>
                        <li><a href="{% url 'attendance_upload' %}"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Attendance</a></li>
                        <li><a href="{% url 'credit_upload' %}"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Credits</a></li>
                        <li><a href="{% url 'check_attendance' %}"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Check Attendance</a></li>

                    </ul>
                </div>
            </div>
            <div class = col-md-7>
                <div class="colHeight">
                    {% block centerContent%}
                    {% endblock %}
                </div>
            </div>
            <div class = col-md-3>
                <div class="colHeight notice-list">
                    <h4 class ="centerText">Notices</h4>
                    <ul>
                        {% for notice in all_notices %}
                            <li><p>{{ notice.notice_title }}</p></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 centerText">
                    <span class="copyright ">Copyright &copy; IIITS 2016</span>
                </div>

                <div class="col-md-6 centerText">
                    <ul class="list-inline">
                        <li><a href="#"><img src="{% static 'portal/images/facebook.png' %}" alt="IIITS-facebook"></a>
                        </li>
                        <li><a href="#"><img src="{% static 'portal/images/twitter.png' %}" alt="IIITS-twitter"></a>
                        </li>
                        <li><a href="#"><img src="{% static 'portal/images/wikipedia.png' %}" alt="IIITS-wikipedia"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'portal/js/main.js' %}"></script>
</body>
</html>